{% assign activities = site.data.data.activities %}
{% if activities %}
<section class="section publications-section">

    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
        {{ activities.title }}
    </h2>

    {% for publication in activities.item %}
    <div class="item">
        {% if publication.link %}
        <ul>
            <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
            {% else %}
            <li>{{ publication.title }}</li>
            {% endif %}
            <div class="publication-authors">{{ publication.authors }}</div>
            <div class="publication-conference">{{ publication.timeline }}</div>
        </ul>
    </div>
    {% endfor %}

</section>
{% endif %}
