<!--//LEADERSHIP & ACTIVITIES-->

{% assign activities = site.data.data.activities %}
{% if activities %}

<button class="show-button" data-target="activities" title="Click to expand/hide this section">{{ activities.title }}</button>

<section id="activities" class="section publications-section hidden">

    <!-- <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
        </span>
        {{ activities.title }}
    </h2> -->

    {% for publication in activities.item %}
    <div class="item">

        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ publication.title }}</h3>
                <div class="time">{{ publication.timeline }}</div>
            </div>
            <div class="company">{{ publication.authors }}</div>
        </div>

    </div>
    {% endfor %}

</section>
{% endif %}