{% assign activities = site.data.data.activities %}
{% if activities %}
<section class="section publications-section">

    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
        {{ activities.title }}
    </h2>

    {% for publication in activities.item %}
    <div class="item">

        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ publication.title }}</h3>
                <div class="time">{{ publication.timeline }}</div>
            </div>
            <div class="company">{{ publication.authors }}</div>
        </div>

    </div>
    {% endfor %}

</section>
{% endif %}
