<!--//AWARDS & ACHIEVEMENTS-->

{% assign awards = site.data.data.awards %}
{% if awards %}

<button class="show-button" data-target="awards" title="Click to expand/hide this section">
	{{ awards.title }}
</button>

<section id="awards" class="section experiences-section hidden">
    {% for award in awards.info %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ award.title }}</h3>
                <div class="time">{{ award.time }}</div>
            </div>
            <div class="company">{{ award.company }}</div>
        </div>

        {% if award.tagline %}
        <div class="details">
            {{ award.tagline | markdownify }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endif %}