<!--//CERTIFICATIONS & LICENSES-->

{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section publications-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
        {{ certifications.title }}
    </h2>

    {% for certificate in certifications.papers %}
    <div class="item">

        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ certificate.title }}</h3>
                <div class="time">{{ certificate.timeline }}</div>
            </div>
            <div class="company">{{ certificate.authors }}</div>
        </div>

    </div>
    {% endfor %}

</section><!--//section-->
{% endif %}
