<!--//CERTIFICATIONS & LICENSES-->

{% assign certifications = site.data.data.certifications %}
{% if certifications %}

<button class="show-button" data-target="certifications" title="Click to expand/hide this section">
	{{ certifications.title }}
</button>

<section id="certifications" class="section publications-section hidden">
    {% for certificate in certifications.papers %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ certificate.title }}</h3>
                <div class="time">{{ certificate.timeline }}</div>
            </div>
            <div class="company">{{ certificate.authors }}</div>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}