<div class="remove-container container-block">
    <h2 class="container-block-title">
        Contact Me?
    </h2>
    <form action="https://formspree.io/f/mbjeplqa" method="POST">
		<input type="text" id="name" name="name" placeholder="Your Name" required>
		<input type="email" id="email" name="_replyto" placeholder="Your Email" required>
		<textarea id="message" name="message" placeholder="Add your Message or Comment here..." required></textarea>
		<button type="submit">Send</button>
	</form>
</div>