<!--//EDUCATION-->

<button class="show-button" data-target="education"
    title="Click to expand/hide this section">
    Education
</button>

<section id="education" class="section experiences-section hidden">

    <!-- Stevens Institute of Technology -->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master of Science, Computer Science</h3>
                <div class="time">MAY 2023</div>
            </div>
            <div class="company">Stevens Institute of Technology</div>
        </div>
    </div>

    <hr class="divider">

    <!-- Maharashtra Institute of Technology -->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Bachelor of Engineering, Computer
                    Engineering</h3>
                <div class="time">MAY 2017</div>
            </div>
            <div class="company">Maharashtra Institute of Technology</div>
        </div>
    </div>

</section>