<!--//EDUCATION-->

{% assign education = site.data.data.education %}
{% if education %}

<button class="show-button" data-target="education" title="Click to expand/hide this section">
	{{ education.title }}
</button>

<section id="education" class="section experiences-section hidden">
    {% for graduation in education.info %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ graduation.degree }}</h3>
                <div class="time">{{ graduation.time }}</div>
            </div>
            <div class="company">{{ graduation.university }}</div>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}