<div class="remove-container container-block">
    <h2 class="container-block-title">
        Like this Page?
    </h2>
    <ul class="list-unstyled interests-list">
        <li>
            <a class="github-button" href="https://github.com/1994nikunj/1994nikunj.github.io"
               data-icon="octicon-star" data-show-count="true" aria-label="Star
        sharu725/online-cv on GitHub">Star</a>
            <script async defer src="https://buttons.github.io/buttons.js"></script>
    </ul>
</div>