<!--//PERSONAL PROJECTS-->

{% assign personal-projects = site.data.data.personal-projects %}
{% if personal-projects %}

<button class="show-button" data-target="projects" title="Click to expand/hide this section">
	{{ personal-projects.title }}
</button>

<section class="section oss-section hidden" id="projects">
	{% for project in personal-projects.contributions %}
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				{% if project.link %}
				<a href="{{ project.link }}" title="Click to go projects github repo">{{ project.title }}</a>
				{% endif %}
			</div>
			{% if project.tags %}
			<div class="pill">
				{% assign tags_array = project.tags | split: ' | ' %}
				{% for tag in tags_array %}
				<span class="pill">{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		{% if project.brief %}
		<div class="details">
			<p>{{ project.brief }}</p>
		</div>
		{% endif %}
		<br>
	</div>
	{% endfor %}
</section>
{% endif %}