<!--//AWARDS & ACHIEVEMENTS-->

{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section experiences-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
        {{ projects.title }}
    </h2>

    {% for award in projects.assignments %}
    <div class="item">

        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ award.title }}</h3>
                <div class="time">{{ award.time }}</div>
            </div>
            <div class="company">{{ award.company }}</div>
        </div>

        {% if award.tagline %}
        <div class="details">
            {{ award.tagline | markdownify }}
        </div>
        {% endif %}

    </div>
    {% endfor %}

</section>
{% endif %}
