<div class="sidebar-wrapper">
	<div class="profile-container">
		<div class="profile-left">
			<h1 class="name">Software Developer</h1>

			<h3 class="tagline">Hi, I'm Nikunj Sharma
				<img src="assets/images/icons/hello1.png" alt="US" class="flag-icon">
			</h3>

			<h5 class="about">
				A passionate Software Developer based in United States.
			</h5>

			<div class="contact-list">
				<a href="mailto:1994nikunj@gmail.com">
					<img src="assets/images/icons/mail1.png" alt="Mail" class="icon">
				</a>
				<a href="https://linkedin.com/in/1994nikunj" target="_blank">
					<img src="assets/images/icons/linkedin1.png" alt="LinkedIn" class="icon">
				</a>
				<a href="http://github.com/1994nikunj" target="_blank">
					<img src="assets/images/icons/github1.png" alt="GitHub" class="icon">
				</a>
			</div>
		</div>
		<div class="profile-right">
			<img class="avatar"
				src="{{ site.baseurl }}/assets/images/profile.png"
				alt="profile picture" />
		</div>
	</div>
</div>
