/* ======= Base ======= */
body {
	font-family: "Roboto", sans-serif;
	color: $text-color-secondary;
	background: linear-gradient(222deg, darken($base, 3%) 0.00%, darken($base, 0%) 100.00%);
	font-size: 14px;
	padding: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

a {
	color: $theme-color;
	font-size: 20px;

	&:hover {
		text-decoration: none;
		color: lighten($theme-color, 30%);
	}

	&:focus {
		text-decoration: none;
		color: lighten($theme-color, 50%);
	}
}

p {
	line-height: 1.5;
}

.wrapper {
	display: grid;
	border-radius: 20px;
	grid-template-columns: repeat(10, 1fr);
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

.sidebar-wrapper {
	grid-column: span 3;
	order: 1;
	color: $text-color;

	a {
		color: $text-color;
		font-size: 15px;
		animation: glowing 2000ms infinite;
	}

	@keyframes glowing {
		0% {
			color: $text-color;
		}

		50% {
			color: lighten($theme-color, 20%);
		}

		100% {
			color: $text-color;
		}
	}

	.profile-container {
		padding: 30px;
		text-align: center;
		color: $text-color;
		border-radius: 20px;
		background: linear-gradient(222deg, darken($theme-color, 15%) 0.00%, darken($theme-color, 0%) 100.00%);
		box-shadow: 0 5px 10px darken($theme-color, 40%);
		margin-bottom: 15px;
	}

	.name {
		font-size: 35px;
		font-weight: 900;
		margin-bottom: 10px;
	}

	.tagline {
		color: rgba(256, 256, 256, 0.6);
		font-size: 16px;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 0;
	}

	.profile {
		margin-bottom: 15px;
	}

	//used for profile image
	.avatar {
		width: 200px;
		margin-bottom: 15px;
		border-radius: 20px;
		box-shadow: 0 5px 10px darken($theme-color, 40%);
	}

	.contact-list {

		.fas,
		.fab,
		.far {
			margin-right: 5px;
			font-size: 18px;
			vertical-align: middle;
		}

		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.container-block {
		padding: 10px;
	}

	.container-block-title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.degree {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.languages-container {
		.lang-desc {
			color: rgba(256, 256, 256, 0.6);
		}
	}

	.languages-list {
		margin-bottom: 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.interests-list {
		margin-bottom: 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.main-wrapper {
	border-radius: 20px;
	box-shadow: 0 5px 10px darken($theme-color, 40%);
	grid-column: span 7;
	background: $front;
	margin-right: 18px;
	padding: 30px;

	.section {
		margin-bottom: 60px;
	}

	.section-title {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		color: lighten($theme-color, 25%);
		position: relative;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.summary-section {
		justify-content: space-between;

		.show-more-link {
			color: $text-color;
			font-size: 14px;
		}
	}

	.experiences-section {
		.item {
			margin-bottom: 30px;
		}
	}

	.upper-row {
		position: relative;
		overflow: hidden;
		margin-bottom: 5px;
	}

	.job-title,
	.degree {
		color: $text-color;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 500;
	}

	.time {
		position: absolute;
		right: 0;
		top: 0;
		color: $text-grey;
	}

	.company,
	.university {
		margin-bottom: 10px;
		color: $text-grey;
	}

	.pill {
		margin-bottom: 10px;
		color: $text-grey;
		display: flex;
		flex-wrap: wrap;
	}

	.pill span {
		display: inline-block;
		background-color: $theme-color;
		color: #fff;
		font-size: 13px;
		padding: 5px 10px;
		border-radius: 20px;
		margin-right: 5px;
		margin-bottom: 5px;
		white-space: nowrap;
	}

	.project-title {
		font-size: 16px;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 5px;
		color: $text-color;
	}

	.projects-section {
		.intro {
			margin-bottom: 30px;
		}

		.item {
			margin-bottom: 15px;
		}
	}

	.publication-title {
		font-size: 16px;
		font-weight: 400;
		color: $text-color;
		margin-bottom: 1px;
	}

	.publication-authors {
		font-style: italic;
		color: $text-grey;
		margin-bottom: 1px;
	}

	.publications-section {
		.intro {
			margin-bottom: 30px;
		}

		.item {
			margin-bottom: 15px;
		}
	}
}

.skillset {
	.item {
		margin-bottom: 15px;
		overflow: hidden;
	}

	.level-title {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 12px;
	}

	.level-bar {
		height: 12px;
		background: $base;
	}

	.level-bar-inner {
		height: 12px;
		background: lighten($theme-color, 15%);
	}
}

.hidden {
	display: none;
}

.show-button {
	display: block;
	border: none;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 20px;
	background: darken($theme-color, 10%);
	box-shadow: 0 5px 10px darken($theme-color, 40%);
	text-transform: uppercase;
	font-size: 15px;

	&:hover {
		color: darken($theme-color, 30%);
		background: lighten($theme-color, 3%);
		box-shadow: 0 5px 20px darken($theme-color, 60%);
	}
}

/* Form input and label styles */
form input[type=text],
form input[type=email],
form textarea {
    width: 100%;
    color: darken($text-color, 40%);
    padding: 5px;
    font-size: 14px;
    border: none;
    background: lighten($front, 5%);
    margin-bottom: 15px;
    border-radius: 8px;
    resize: vertical;
    box-shadow: 0 5px 10px darken($theme-color, 40%);
}

form button[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: $theme-color;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $text-color;
    box-shadow: 0 5px 10px darken($theme-color, 40%);
}

form button[type=submit]:hover {
    background-color: lighten($theme-color, 30%);
}

form::after {
    content: "";
    clear: both;
    display: table;
}

.footer{
    margin-top: 10px;
}