/* ======= Base ======= */
body {
	font-family: "Roboto", sans-serif;
	color: $text-color-secondary;
	background: $base;
	font-size: 14px;
	padding: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

a {
	color: lighten($theme-color, 10%);
	font-size: 20px;

	&:hover {
		text-decoration: none;
		color: darken($theme-color, 70%);
	}

	&:focus {
		text-decoration: none;
		color: darken($theme-color, 90%);
	}
}

p {
	line-height: 1.4;
}

.wrapper {
	border-radius: 10px;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.sidebar-wrapper {
	grid-column: span 3;
	order: 1;
	color: $text-color;

	.profile-container {
		padding-top: 5px;
		text-align: center;
		color: $text-color;
		border-radius: 10px;
		background: linear-gradient(180deg, darken($theme-color, 30%) 0.00%, $theme-color 100.00%);
		margin-bottom: 15px;
		display: flex;
		justify-content: space-evenly;

		.profile-left {
			.name {
				font-size: 50px;
				font-weight: 900;
				margin-bottom: 10px;
				text-align: left;
			}

			.tagline {
				color: rgba(255, 255, 255, 0.9);
				font-size: 25px;
				font-weight: 600;
				margin: auto;
				text-align: left;
			}

			.about {
				color: rgba(255, 255, 255, 0.6);
				font-size: 15px;
				font-weight: 500;
				margin-top: 15px;
				text-align: left;
			}

			.flag-icon {
				width: 25px;
				height: 25px;
				vertical-align: top;
			}

			.contact-list {
				margin-top: 25px;
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				.icon {
					width: 45px;
					height: 45px;
					margin-right: 10px;
				}
			}
		}

		.profile-right {
			.avatar {
				width: 250px;
			}
		}
	}

	.container-block {
		padding: 10px;
	}

	.container-block-title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.degree {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.main-wrapper {
	border-radius: 10px;
	grid-column: span 7;
	background: $front;
	margin-top: 5px;
	padding: 30px;

	.section {
		margin-bottom: 40px;
	}

	.section-title {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		color: $theme-color;
		position: relative;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.summary-section {
		justify-content: space-between;

		.show-more-link {
			color: $text-color;
			font-size: 14px;
		}
	}

	.experiences-section {
		.item {
			margin-bottom: 15px;
		}

		.details {
			margin-top: 10px;
			margin-bottom: 0;
		}
	}

	.upper-row {
		position: relative;
		overflow: hidden;
		margin-bottom: 5px;
	}

	.job-title,
	.degree {
		color: $text-color;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 5px;
		font-weight: 500;
	}

	.time {
		position: absolute;
		right: 0;
		top: 0;
		color: $text-grey;
	}

	.company,
	.university {
		margin-bottom: 10px;
		color: $text-grey;
	}

	.pill {
		margin-bottom: 10px;
		color: $text-grey;
		display: flex;
		flex-wrap: wrap;
	}

	.pill span {
		display: inline-block;
		background-color: $theme-color;
		color: #fff;
		font-size: 13px;
		padding: 5px 10px;
		border-radius: 20px;
		margin-right: 5px;
		margin-bottom: 5px;
		white-space: nowrap;
	}

	.project-title {
		font-size: 16px;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 5px;
		color: $text-color;
	}

	.publication-title {
		font-size: 16px;
		font-weight: 400;
		color: $text-color;
		margin-bottom: 1px;
	}

	.publication-authors {
		font-style: italic;
		color: $text-grey;
		margin-bottom: 1px;
	}

	.publications-section {
		.intro {
			margin-bottom: 30px;
		}

		.item {
			margin-bottom: 15px;
		}
	}
}

.skillset {
	.item {
		margin-bottom: 15px;
		overflow: hidden;
	}

	.level-title {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 12px;
	}

	.level-bar {
		height: 12px;
		background: $base;
	}

	.level-bar-inner {
		height: 12px;
		background: lighten($theme-color, 15%);
	}
}

.hidden {
	display: none;
}

.show-button {
	display: block;
	border: none;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
	background: $theme-color;
	box-shadow: 0 5px 10px darken($theme-color, 40%);
	text-transform: uppercase;
	font-size: 1.6rem;

	&:hover {
		color: lighten($theme-color, 60%);
		background: lighten($theme-color, 10%);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.pill-img {
	width: 65px;
	height: 65px;
	margin-right: 10px;
	border-radius: 15px;
	border: 0.5px solid $theme-color;
	padding: 5px;
}

.divider {
	border-top: 2px solid darken($theme-color, 20%);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}