// The theme color
$theme-color: #2067A6;

// Text colors
$text-color: #0060b4;
$text-color-secondary: #e3e3e3;
$text-grey: #9ab7ca;


// Back of the page
$base: #020c15;

// The main card's front
$front: #0b2032;
