// The theme color
$theme-color: #67354c;

// Text colors
$text-color: #c9ccc5;
$text-color-secondary: #8f9683;
$text-grey: #718491;


// Back of the page
$base: #2a2c2c;

// The main card's front
$front: #181a1b;
